.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

build/*.zip
!build/.gitkeep
__pycache__/
*.py[cod]
.DS_Store
.env
.env.*
*.pem
*.key
