aws_region           = "ap-northeast-2"
project_name         = "fintech-security-platform"
environment          = "audit"
owner                = "security-team"
vpc_name             = "fin-audit-vpc"
vpc_cidr             = "10.10.0.0/16"
enable_dns_support   = true
enable_dns_hostnames = true

peering_subnet_2a_cidr = "10.10.100.0/24"
peering_subnet_2c_cidr = "10.10.101.0/24"

kms_key_name        = "fin-s3-cmk"
kms_key_alias       = "alias/fin-s3-cmk"
kms_deletion_window = 7

soc_audit_log_bucket_name      = "fin-prod-log-s3"
stage_log_bucket_name          = "fin-stg-log-s3"
dev_log_bucket_name            = "fin-dev-log-s3"
soc_athena_results_bucket_name = "fin-athena-result-s3"

prod_vpc_peering_connection_id  = ""
dev_vpc_peering_connection_id   = ""
stage_vpc_peering_connection_id = ""
prod_account_id                 = ""
dev_account_id                  = ""
stage_account_id                = ""

athena_database_name  = "fin_soc_logs"
athena_workgroup_name = "fin-soc-athena-wg"

audit_notification_email          = ""
monthly_audit_schedule_expression = "cron(0 0 1 * ? *)"

cloudwatch_export_schedule_expression = "cron(0 18 * * ? *)"
cloudwatch_export_role_name           = "fin-cloudwatch-export-role"
cloudwatch_export_log_group_prefixes = [
  "/aws/cloudtrail/",
  "/aws/config/",
  "/aws/vpc/flowlogs/",
  "/aws/application/",
  "/aws/elasticloadbalancing/"
]
cloudwatch_export_lookback_hours          = 24
cloudwatch_export_max_tasks_per_account   = 1
