aws_region           = "ap-northeast-2"
project_name         = "fintech-security-platform"
environment          = "audit"
owner                = "security-team"
vpc_name             = "fin-audit-vpc"
vpc_cidr             = "10.10.0.0/16"
enable_dns_support   = true
enable_dns_hostnames = true

bastion_subnet_2a_cidr = "10.10.10.0/24"
bastion_subnet_2c_cidr = "10.10.11.0/24"
tgw_subnet_2a_cidr     = "10.10.100.0/24"
tgw_subnet_2c_cidr     = "10.10.101.0/24"

kms_key_name        = "fin-s3-cmk"
kms_key_alias       = "alias/fin-s3-cmk"
kms_deletion_window = 7

soc_audit_log_bucket_name      = "fin-prod-log-s3"
dev_log_bucket_name            = "fin-dev-log-s3"
stage_log_bucket_name          = "fin-stage-log-s3"
soc_athena_results_bucket_name = "fin-athena-results"

bastion_instance_type = "t3.micro"
bastion_key_pair_name = ""
# Example: ["203.0.113.10/32"]. Keep empty to satisfy SSH exposure controls.
bastion_allowed_ssh_cidrs = []

enable_guardduty   = false
enable_securityhub = false

transit_gateway_id              = ""
prod_vpc_peering_connection_id  = ""
dev_vpc_peering_connection_id   = ""
stage_vpc_peering_connection_id = ""
prod_account_id                 = ""
dev_account_id                  = ""
stage_account_id                = ""

athena_database_name  = "fin_soc_logs"
athena_workgroup_name = "fin-soc-athena-wg"

audit_notification_email          = ""
monthly_audit_schedule_expression = "cron(0 0 1 * ? *)"
